<html>
    <head>
        <title>
            My First Web App!
        </title>
    </head>
   <body>
       
       <h1 style="color: orangered; margin: 10px 40% 10px;">Palindrome Number</h1>
    <div style="width: 80%; margin: 100px auto 100px;">
        <h2> About Palindrome Number:</h2>
        <p style="text-align: justify; text-size-adjust: 30px;">
            A palindromic number (also known as a numeral palindrome or a numeric palindrome) is a number (such as 16461) that remains the same when its digits are reversed. 
            In other words, it has reflectional symmetry across a vertical axis. The term palindromic is derived from palindrome, which refers to a word (such as rotor or racecar) 
            whose spelling is unchanged when its letters are reversed. The first 30 palindromic numbers (in decimal) are:

            0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, …
        </p>
    </div>
   </body>
</html>